@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.bg-grey {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-grey h1 {
  font-size: 2em;
}
